body {
	font-size: 16px;
	line-height: 1.25;
	font-family: "Lucida Sans Unicode", "Lucida Grande", "DejaVu Sans", "Lucida Sans", sans-serif;
	position: relative;
}
#wrapper {
	max-width: -webkit-calc(100% - 130px);
	max-width: -moz-calc(100% - 130px);
	max-width: calc(100% - 130px);
}
.affiliate {
	position: absolute;
	right: 0;
	top: 0;
}
.affiliate a {
	opacity: 0.25;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	-o-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
.affiliate a:hover {
	opacity: 1;
}
img {
	border: 0;
}
#sign, #sign_mono {
	background-color: #ccc;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, .5);
}
#sign {
	margin-right: 2em;
	border: 1px dotted red;
}
#sign_mono {
	visibility: hidden;
	border: 1px solid grey;
}
#sign_save {
	display: none;
}
#image_wrapper {
	float: left;
	margin-bottom: 1em;
	margin-right: 1em;
}
#img_sign_save {
	margin-left: .4em;
	margin-top: .4em;
	vertical-align: middle;
	border: 1px solid grey;
}
#form_image_select {
	margin-top: 1em;
}
#sign_preview_wrapper {
	float: left;
	display: table;
	visibility: hidden;
	margin-bottom: 1em;
	padding: .8em;
	height: 88px;
	border: 1px dashed lightgreen;
}
#sign_preview_middle {
	display: table-cell;
	white-space: nowrap;
	vertical-align: middle;
	font-size: 1.2em;
}
#sign_preview_canvas {
	background-color: #ccc;
	vertical-align: middle;
	margin-left: .4em;
}
#threshold_wrapper {
	visibility: hidden;
	display: inline-block;
	margin-left: 1em;
	vertical-align: top;
}
#threshold {
	margin: .6em;
}
#btn_download_save {
	display: block;
	margin-top: .5em;
}
fieldset > legend {
	font-weight: bold;
}
#version_code, #lang_code {
	border: 1px solid gray;
	border-radius: .8em;
	/*box-shadow: 5px 5px 5px rgba(0, 0, 0, .5);*/
}
#version_code, #lang_code {
	float: left;
}
#version_code input[type="radio"] + label, #lang_code input[type="radio"] + label {
	margin-right: 1em;
}
#version_code input[type="radio"] + label:last-child, #lang_code input[type="radio"] + label:last-child {
	margin-right: 5px;
}
#codes {
	float: left;
	margin-top: 1em;
	text-align: center;
	width: 100%;
	clear: both;
}
#codes > textarea {
    border-radius: .8em;
    padding: .2em;
	border: 1px solid gray;
}
#codes > textarea:not([disabled]) {
    background-color: #ccf;
	border: 1px solid blue;
}
#trigger_wrapper {
	float: left;
	clear: both;
	margin-top: .5em;
}
#table_code_trigger {
	border: 1px solid black;
	border-collapse: collapse;
	margin-top: .25em;
	margin-bottom: .25em;
	/*font-size: 75%;*/
}
#table_code_trigger input[type="checkbox"] {
	margin: 3px 4px;
}
#table_code_trigger td {
	padding: 2px;
}
table caption {
	font-weight: bold;
	margin: .25em;
}
.left {
	text-align: left;
}
.center {
	text-align: center;
}
.right {
	text-align: right;
}
.float {
	float: left;
}
#sign, #version_code, #code_box1 {
	margin-right: 1em;
}
#split_code {
	margin-top: .5em;
}
#code_wrapper, #save_wrapper {
	float: left;
	border: 1px dashed lightblue;
	padding: .8em;
}
#code_wrapper {
	margin-right: 1em;
	margin-bottom: 1em;
	clear: both;
}

#save {
	border: .2em dashed #90ee90;
	border-radius: .5em;
	background-color: #d3f8d3;
	padding: 1em;
	text-align: center;
	margin-bottom: .8em;
	min-width: 24em;
}
#save aside {
	font-size: .625em;
	color: #444;
	margin-top: .5em;
	font-style: italic;
}
#save header {
	font-size: 1.5em;
	margin-bottom: .4em;
}
#form_save_select, #save_select {
	visibility: hidden;
	width: 0px;
	height: 0px;
	position: absolute;
	top: -100000px;
}
#save_select_link:link, #save_select_link:visited {
	color: green;
	text-decoration: none;
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-o-transition-duration: .5s;
	transition-duration: .5s;
}
#save_select_link:hover {
	text-decoration: underline;
	color: #004000;
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-o-transition-duration: .5s;
	transition-duration: .5s;
}
#save_select_link:active {
	color: #000;
	-webkit-transition-duration: .5s;
	-moz-transition-duration: .5s;
	-o-transition-duration: .5s;
	transition-duration: .5s;
}
#infos {
	margin-top: .4em;
	font-size: 1.2em;
}
#file_name, #save_infos {
	visibility: hidden;
}
#file_name_value, #save_version_value, #save_size_value , #save_status_value, #save_format_value {
	font-weight: bold;
	color: #222;
}